
li{
    list-style: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}
footer .line{
    border: 0.5px rgb(202, 202, 202) solid;
    width: 100%;
    height: 1px;
    margin-bottom: 35px;
    margin-top: 10px;
}
footer .footer_top{
    width: 100%;
    height: inherit;
}
footer .footer_top .section_1{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
}
footer .footer_top .section_1 .footer_top_right{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    direction: rtl;
}
footer .footer_top .section_1 .footer_top_left{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(176, 176, 176) solid;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: rgb(176, 176, 176);
    cursor: pointer;
}

footer .footer_top .section_2{
    margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

footer .footer_top .section_2 .item_section_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

footer .footer_top .section_3{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,350px);

}
footer .footer_top .section_3 .col_section_3 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
}
footer .footer_top .section_3 .col_section_3 a {
    color: black;
 text-decoration: none;
} 
footer .footer_top .section_3 .title_row{
    font-weight: bold;
}
footer .footer_top .section_3 .row_section_3{
    color: rgb(176, 176, 176);
}
footer .footer_top .section_3 .col_section_3 .row_section_3 .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
     
}
input[type='email']{
    width: 220px;
    height: 50px;
    border-radius: 10px;
    padding-right: 10px;
    background-color: rgb(217, 217, 217);
    border: none;
}
input[type='button']{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding-right: 10px;
    text-align: center;
    padding-left: 9px;
    background-color: rgb(217, 217, 217);
    border: none;
}



footer .footer_Download_App{
    margin-top: 20px;
    height: 80px;
    background-color: rgb(69, 53, 126);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
footer .footer_Download_App .footer_Download_App_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: white;
}

footer .footer_Download_App .footer_Download_App_left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row-reverse;
}
footer .footer_Download_App .footer_Download_App_left svg{
    border-radius: 10px;
    background-color: white;
}

footer .footer_Download_App .footer_Download_App_left svg:first-of-type{
    width: 60px;
    height: 50px;
}

footer .footer_bottom{
    margin-top: 25px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

footer .footer_bottom .footer_bottom_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer_bottom .footer_bottom_right p{
    /* background-color: red; */
    height: 100px;
    width: 75%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: var( --font-family-number);
}

footer .footer_bottom .footer_bottom_right .more{
    color: blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
}
footer .footer_bottom .footer_bottom_right .less{
    color: blue;
    cursor: pointer;
    display: none;
}

footer .footer_End{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(217, 217, 217);
    margin-top: 40px;

}
footer .footer_End div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    border-bottom: 1px rgb(138, 138, 138) solid;
}
footer .footer_End div svg{
    border-right: 1px rgb(138, 138, 138) solid;
    width: 100%;
}





