.item3 {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
}
.item3 .item3__center {
  width: 87%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  column-gap: 11px;
}
.item3 .item3__center img {
  width: 322px;
  height: inherit;
  border-radius: 16px;
}
